<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Add Review </title>
</head>
<body>
         <h1> Add Review Form </h1>
         <form action="http://localhost:4500/addReviewForm"  method="post">
             <input type="text" name="fullname" placeholder="name"/>
             <br/>
             <input type="text" name="rating" placeholder="rating"/>
             <br/>
             <input type="text" name="review" placeholder="review" />
             <br/>
             <button> Add Review </button>
         </form>
</body>
</html>